<nav>
<div class="nav-wrapper light-blue lighten-3">
  <a href="#!" class="brand-logo center"><%= image_tag("logo-litter.png", width: "50em") %></a>
  <ul class="left">
  	<li class="active"><a href="/users/signin" class="active">Sign in</a></li>
    <li><a href="/users/signup">Sign up</a></li>
  </ul>
</div>
</nav>

<br><br><br>

<form action="/users/signin_submit" method="POST">
	
  <div class="row">
    <div class="input-field col s7">
      <input id="email" type="email" name="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s7">
      <input id="password" type="password" name="pass" class="validate">
      <label for="password">Password</label>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit">Sign in
    <i class="material-icons right">send</i>
  </button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</form>