// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	.btn {
		background-color: #81D4F7;
    	box-shadow: none;
	}
	.btn:hover {
    	background-color: #68abca;
    	color: white;
    	box-shadow: none;
	}
	.my_btn_large {
		height: 60.5px;
		line-height: 54px;
	}
	.fixed-action-btn {
		position: static;
		right: 23px;
		bottom: 23px;
		padding-top: 15px;
		margin-bottom: 0;
		z-index: 998
	}
	.my_p {
		font-weight:bold;
		font-size:125%;
	}
	.my_inline {
		display: inline;
	}
	.my_overflow_visible {
		overflow: visible;
	}